.svg-icon.svg-baseline {
  bottom: 0.1em;
  line-height: 1;
  position: relative;
  width: 43%;
  }

footer .powered-by {
    font-size: .67rem;
    color: white;
}
/* disable links on events*/
.article-title a {
  pointer-events: none;
}

article-style summary-link a{
  pointer-events: none;
}


.media.stream-item:not(:last-child) {
  pointer-events: none;
}